/*that is how you do a command in css sheet*/

html {
  background-color: rgb(235, 232, 232);
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(0, 0, 0);
}

/*Font size*/

h1 {
  font-size: 70;
}

h2 {
  font-size: 50;
}

h3 {
  font-size: 30;
}

h4 {
  font-size: 25;
}

h5 {
  font-size: 15;
}

h6 {
  font-size: 15;
}

p {
  font-size: 22;
}

li {
  font-size: 22;
}

span {
  font-size: 70;
}

.zeroPaddingAndMargin {
  margin: 0px;
  padding: 0px;
}

.underline {
  text-decoration: underline;
}

.right {
  text-align: right;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

/*Post*/

.post {
  width: 394px;
  height: 221px;
  position: relative;
  cursor: pointer;
}

.post:hover .post-s {
  width: 394px;
}

.post img {
  display: block;
  width: 394px;
  height: 221px;
}

.post-s {
  width: 0px;
  height: 221px;
  background: rgba(0, 0, 0, 0.95);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.post-s h2 {
  color: white;
  font-size: 20;
  border: 6px solid white;
  padding: 10px 30px;
}

.profilPicture {
  object-fit: cover;
  object-position: 50% 0;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  margin-top: 100px;
  margin-bottom: -100px;
}

/*Margins*/

.margin {
  margin-left: 10px;
}

.margintop {
  margin-top: 100px;
}

.fifeenLeft {
  margin-left: 15px
}

.tenLeft {
  margin-left: 10px;
}

.hundredLeft {
  margin-left: 100px;
}

.fourfiftyLeft {
  margin-left: 450px;
}

.noWrap {
  white-space: nowrap;
}

/*Colors*/

.greyBackground {
  background-color: rgb(112, 112, 112);
}

.greenBackground {
  background-color: rgba(12, 112, 12, 0.904);
}

.white {
  color: rgb(228, 217, 217);
}

.black {
  color: rgb(0, 0, 0);
}

.h1color {
  color: rgb(20, 82, 20);
}

.headingcolorgreen {
  color: rgb(0, 100, 0);
}
.greenBackgroundFaded{
  background-color: rgba(12, 112, 12, 0.103);
}
.greyBackgroundFaded{
  background-color: rgba(112, 112, 112, 0.815);
}

.blue {
  background-color: rgb(27, 141, 235);
}

.topfootbackground {
  background-color: rgba(77, 163, 91, 0.781);
}

.bottomfootbackground {
  background-color: rgba(77, 163, 92, 0.871);
}

.whiteTwo {
  color: rgba(255, 253, 253, 0.835);
}

.green {
  color: rgb(30, 146, 30);
}

.whiteThree {
  background-color: rgb(255, 255, 255);
}

.darkgreenBackground {
  background-color: rgb(20, 82, 20);
}

.greyBackgroundTwo {
  background-color: rgb(147, 143, 131);
}

.gallerySize {
  align-self: stretch;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/*text decoration*/

.bold {
  font-weight: bold;
}

.noListStyle {
  list-style: none;
}

.footerPicture {
  width: 62px;
  height: 62px;
  margin-left: 20px;
}

/**/

.border {
  border: 0.5em solid;
  color: rgb(235, 232, 232);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(17, 17, 17);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(143, 140, 140);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(255, 251, 251);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}

.item {
  flex-basis: auto;
  flex: none;
  align-self: auto;
  max-width: 90%;
  max-height: 50%;
  margin: 0px;
  padding: 0px;
}

.box {
  height: 200px;
  position: relative;
}

.mitte {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*button*/

#myBtn {
  display: none;
  border: none;
  outline: none;
  background-color: rgba(12, 112, 12, 0.906);
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 100px;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBBtn:hover {
  background-color: rgb(85, 85, 85);
}

/*Gallery*/

#gallery {
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 30em));
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  size: 100%;
}

#gallery>figcaption {
  grid-column: 1 / -1;
}

.navBackground {
  background-color: rgb(0, 0, 0);
  text-align: right;
}

figure {
  margin: 0px;
  padding: 0px;
}

/*post1*/

.post1 {
  width: 480px;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.post1:hover .post1-s {
  width: 480px;
}

.post1 img {
  display: block;
  width: 480px;
  height: 100%;
}

.post1-s {
  width: 0px;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.post1-s h2 {
  color: rgb(255, 255, 255);
  font-size: 20;
  border: 6px solid rgb(255, 255, 255);
  padding: 10px 30px;
}

.nav {
  text-align: right;
  margin-right: 50px;
  font-size: 30px;
  cursor: pointer
}