/*that is how you do a command in css sheet*/

html {
  background-color: rgb(235, 232, 232);
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: #000000;
}

h1 {
  font-size: 70;
}

h2 {
  font-size: 50;
}

h3 {
  font-size: 30;
}

h4 {
  font-size: 25;
}

p {
  font-size: 22;
}

li {
  font-size: 22;
}

span {
  font-size: 70;
}


.zeropaddingandmargin {
  margin: 0px;
  padding: 0px;
}

.underline {
  text-decoration: underline;
}

.right {
  text-align: right;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.post {
  width: 394px;
  height: 221px;
  position: relative;
  cursor: pointer;
}

.post:hover .post-s {
  width: 394px;
}

.post img {
  display: block;
  width: 394px;
  height: 221px;
}

.post-s {
  width: 0px;
  height: 221px;
  background: rgba(0, 0, 0, 0.95);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.post-s h2 {
  color: white;
  font-size: 20;
  border: 6px solid white;
  padding: 10px 30px;
}

.margin {
  margin-left: 10px;
}

.profilpicture {
  object-fit: cover;
  object-position: 50% 0;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  margin-top: 100px;
  margin-bottom: -100px;
}

.margintop {
  margin-top: 100px;
}



.fivteenleft {
  margin-left: 15px
}

.tenleft {
  margin-left: 10px;
}

.hundredleft {
  margin-left: 100px;
}

.fourfiftyleft {
  margin-left: 450px;
}

.nowrap {
  white-space: nowrap;
}

/*Colors*/

.greybackground {
  background-color: rgb(112, 112, 112);
}

.greenbackground {
  background-color: rgba(12, 112, 12, 0.904);
}

.white {
  color: rgb(228, 217, 217);
}

.black {
  color: rgb(0, 0, 0);
}

.h1color {
  color: #145214;
}

.headingcolorgreen {
  color: #006400;
}

.blue {
  background-color: rgb(64, 166, 250);
}

.topfootbackground {
  background-color: rgba(77, 163, 91, 0.781);
}

.bottomfootbackground {
  background-color: rgba(77, 163, 92, 0.87);
}

.whitetwo {
  color: rgba(255, 253, 253, 0.836);
}

.green {
  color: rgb(30, 146, 30);
}

.whitethree {
  background-color: #ffffff;
}

.darkgreenback {
  background-color: #145214;
}

.gallerysize {
  align-self: stretch;
}
/*text decoration*/
.bold {
  font-weight: bold;
}
.noliststyle {
  list-style: none;
}

.footerpicture {
  width: 62px;
  height: 62px;
  margin-left: 20px;
}
.border {
  border: 0.5em solid;
  color: rgb(235, 232, 232);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(143, 140, 140);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fffbfb;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.item {
  order: 5;
  flex-grow: 4;
  flex-shrink: 3;
  flex-basis: auto;
  flex: none;
  align-self: auto;
}

.box {
  height: 200px;
  position: relative;
}

.mitte {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*button*/
#myBtn {
  display: none;
  border: none;
  outline: none;
  background-color: rgba(12, 112, 12, 0.904);
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 100px;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBBtn:hover {
  background-color: #555;
}
/*Geallery*/
#gallery {
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 30em));
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

#gallery>figcaption {
  grid-column: 1 / -1;
}

.navbackground {
  background-color: rgb(145, 143, 143);
  text-align: right;
}